/* .main-navigation {

    width:150px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
} */
body { 
  text-align: center;
}


#search-button {
  background-color: red;
  color: white;
  border-radius: 5px;
}

#searchbox {
  padding: 2px;
  border-radius: 5px;
  background-color: antiquewhite;
}